 *{
  font-family: Roboto;
  font-weight: 100;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(31, 35, 38, 0.5);
  z-index: 100;
}

header img{
  width: 50px;
  height: 50px;
  padding-left: 10px;
}

nav {
  display: inline-block;
  overflow: auto;
  height: 100%;
  right: 0;
  text-align: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li{
  margin: 0 1rem;
}

nav li a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 4px;
  margin-left: 4px;

}

#background{
  width: 100%;
  background: linear-gradient(to right, #5D4EBF, #5F5BD9, #5F5BD9, #5576D9);;
}

section{
  width: 100%;
}

.container{
  /* background-color: brown; */
  width: 90vw;
  margin: 0 auto;
  padding: 10% 0;
  border-bottom: 1px solid #000;
}

#opening{
  position: relative;
  top: 0;
  left: 0;
  height: 200vh;
  min-width: 270px;
  background-image: url('../images/fondo_inicio.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

.container-top, .container-bottom{
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

#opening h1{
  padding: 30vh 0 0 10vw;
}

#opening h2{
  padding: 30vh 0 0 10vw;
  max-width: 50vw;
} 

#about_us .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#about_us .text{
  position: relative;
  width: 40%;
  min-width: 250px;
}

#about_us .img{
  width: 40%;
  height: 40%;
  min-width: 250px;
}

#about_us p{
  color: #fff;
  text-align: justify;
  line-height : 1.2;
  font-style: italic;
  width: 90%;
}

#about_us img{
  width: 100%;
}

.Carousel{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-left, #button-right{
  height: 90%;
  background-color: #DBD8EC;
  border: transparent;
  border-radius: 20px;
}

#button-left img, #button-right img{
  pointer-events: none;
}

.Carousel ul{
  list-style: none;
  width: 90%;
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

.Carousel li{
  width: 25%;
  min-width: 250px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  border: transparent;
  background-color: #fff;
}

.Carousel li .image{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.Carousel li .image img{
  width: 100%;
  pointer-events: none;
}

.Carousel li h3{
  text-align: center;
  font-weight: bold;
  color: #343A40;
  font-size: 28px;
}













h1, h2{
  font-family: Hind;
  font-weight: 900;
  font-style: italic;
  font-size: 50px;
  color: #fff;
  text-shadow: #000 0.1em 0.1em 0.3em;
}


/*


#about_us{
  padding: 120px 0;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;


   flex-direction: row;
  flex-wrap: wrap; 
}

#about_us img{
  width: calc( 100vw - 500px);
}


.texto p{
  width: 500px;
}


 */



























/* :root { 
  --largo: 104px; 
  --rotacion: 45deg;
  --width: 210px;
}

#contenedor{
  display: flex;
  padding: 90px;
}

#trapecio-left::before{

  content: "";
  display: block;
  height: var(--width);
  border-right: var(--largo) solid red;
  border-top: var(--largo) solid transparent;
  border-bottom: var(--largo) solid red;

  margin-right: 104px;

}

#trapecio-right::before{
  content: "";
  display: block;
  height: var(--width);
  border-left: var(--largo) solid blue;
  border-top: var(--largo) solid transparent;
  border-bottom: var(--largo) solid blue;
  margin-left: 104px;
}

#trapecio-right::after, #trapecio-left::after{
  content: "";
  display: block;
  height: calc( var(--width) + var(--largo) * 2 );
}

#trapecio-left{
  transform: translate(104px, 0) rotate(var(--rotacion));
}

#trapecio-right{
  transform: translate(-104px, 0) rotate( calc( var(--rotacion)* -1 ) );
} */
